@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

@{
  Layout = "_Layout";
}

<div class="container-fluid">
  <h1 class="pt-5 pb-3">All Animals</h1>
  @if (Model.Count == 0)
  {
    <p>There are no items in the list.</p>
  }
  else
  {
    <ul>
      @foreach (Animal animal in Model)
      {
        <li>
          @Html.ActionLink($"{animal.Name}", "Details", new { id = animal.Id })
        </li>
      }
    </ul>
  }

  <p>@Html.ActionLink("Add new Animal", "Create")</p>

</div>
